<div class="row">
    <div class="col-12">
        <form>
            <!-- Input fields for ingredients -->
            <div class="row">
                <div class="col-sm5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control" 
                        placeholder="Ingredient name"
                        #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        type="number" 
                        id="amount" 
                        class="form-control" 
                        placeholder="Number"
                        #amountInput>
                </div>
            </div>
            <!-- Action buttons -->
            <div class="row mb-3">
                <div class="col-12">
                    <button 
                        class="btn btn-success mr-5" 
                        type="submit"
                        (click)="addShoppingItem()">
                        Add
                    </button>
                    <button class="btn btn-danger mr-5" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- If passing parameters for add button through a function, use this line:
    (click)="addShoppingItem(nameInput.value, amountInput.value)" -->